:root {
  --main-light-color: #ffffff;
  --main-light-transparent-background: hsla(0, 0%, 100%, 0.24);
  --main-light-transparent-background-hover: hsla(0, 0%, 98%, 0.34);
  --column-primary-background: #f7f7f7;
  --column-primary-dragged-background: #e9e8e8;
  --column-secondary-background: #ebecf0;
  --column-border-color: #d6d6d6;
  --task-dragged-background: #f6f6f6;
  --task-background: #ffffff;
  --add-button-background: #3db43d;
  --add-button-hover-background: #2f8d2f;
  --main-border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#068adb!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  color: white;
  transition: all 0.3s;
}

.nav-link.active {
  color: rgb(236, 236, 236);
}

.nav-link:hover {
  color: rgb(236, 236, 236);
  text-decoration: none;
}

.nav-link:focus {
  outline: none;
}

.nav-link:active {
  outline: none;
}
