:root {
  --main-light-color: #ffffff;
  --main-light-transparent-background: hsla(0, 0%, 100%, 0.24);
  --main-light-transparent-background-hover: hsla(0, 0%, 98%, 0.34);
  --main-light-background: #1d76db;
  --main-light-background-hover: #3d92f3;
  --main-light-background-box-shadow: 0 5px 15px 0 rgba(12, 122, 248, 0.39);
  --main-dark-color: #111111;
  --main-dark-sub-color: #666666;
  --column-primary-background: #f7f7f7;
  --column-primary-dragged-background: #e9e8e8;
  --column-secondary-background: #ebecf0;
  --column-border-color: #d6d6d6;
  --task-dragged-background: #f6f6f6;
  --task-background: #ffffff;
  --add-button-background: #3db43d;
  --add-button-hover-background: #2f8d2f;
  --main-border-radius: 5px;
}

:root {
  --main-font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--main-font-family)!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
